<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$subject}</title>
</head>
<body>
<p>Dobrý den,</p>
<p>vaše heslo do systému Toulavej bylo změněno.</p>
<p>Přihlašovací e-mail: {$email}<br />
<b>Nové heslo:</b> {$passwd}</p>
<p>Uvedené heslo si můžete po přihlášení do systému změnit v editaci profilu.</p><br />
<p>Tento mail byl vygenerován automaticky, neodpovídejte na něj.</p>
<p>S pozdravem</p>
<p>Toulavej.cz</p>


</body>
</html>