<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="Toulavej" content="OSM tourist map. Diploma project">
		<meta name="robots" content="{$robots}" n:ifset="$robots">

		<title>TOULAVEJ | {block title}{/block}</title>

		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
		<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
		<link href="{$basePath}/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
		<link href="{$basePath}/bootstrap/css/myAdminStyle.css" type="text/css" rel="stylesheet">
		<link href="{$basePath}/js/jquery-ui-1.9.2/css/ui-lightness/jquery-ui-1.9.2.min.css" type="text/css" rel="stylesheet">

		<script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
		<script type="text/javascript" src="{$basePath}/js/jquery-ui-1.9.2/js/jquery-ui-1.9.2.min.js"></script>
		<script type="text/javascript" src="{$basePath}/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>


		{block head}{/block}
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" n:href="Homepage:default">Toulavej</a>

					<ul class="nav">
						{*<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapa<b class="caret"></b></a>
							<ul class="dropdown-menu">*}
								<li><a n:href="Map:default">Mapa</a></li>
								<li n:if="$user->isInRole('user') || $user->isInRole('admin')"><a n:href="Map:editMap">Upravit</a></li>
								
							{*</ul>
						</li>*}
						<li><a n:href="Shoutboard:default">Diskuze</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Trasy a fotky<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="nav-header">Trasy</li>
								<li><a n:href="Track:default">Seznam tras</a></li>
								<li n:if="$user->isInRole('user') || $user->isInRole('admin')"><a n:href="Track:addTrack">Přidat trasu</a></li>
								<li class="nav-header">Fotky</li>
								<li><a n:href="Track:galery">Galerie</a></li>
								<li n:if="$user->isInRole('user') || $user->isInRole('admin')"><a n:href="Track:addPhoto">Přidat fotky</a></li>
							</ul>
						</li>
						<li><a n:href="Map:about">O Projektu</a></li>
					</ul>

					<div class="btn-group pull-right">
						{if $user->isLoggedIn()}
							<a class="btn" n:href="Homepage:default"><i class="icon-user"></i> {$name}</a>
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a n:href="User:setting, id=>$user->id ">Nastavení profilu<i class="icon-pencil"></i></a></li>
								<li><a n:href="User:feedback">Hlášení chyb</a></li>
								<li class="divider"></li>
								<li><a n:href="Sign:out">Odhlásit se</a></li>
							</ul>
						{else}
							<a class="btn" n:href="Sign:in">Přihlásit</a>
						{/if}
					</div>

				</div>
			</div>
		</div>
		<div class="container-fluid main-content">
			<div class="row-fluid shadow">
				<div class="span12">
					<div  n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">
						<button type="button" class="close" data-dismiss="alert">×</button>
						{$flash->message}
					</div>
					<div class="textarea">
						{include #content}
					</div>
				</div>
			</div>
		</div>
		{ifCurrent Map:editMap}
			<footer></footer>
		{else}
			{ifCurrent Map:default}
			<footer></footer>
			{else}
				{ifCurrent Track:addTrack}
					<footer class="footer-text">Chrudoš Vorlíček {date('Y')}&nbsp;</footer>
				{else}
					<footer class="footer-text">Chrudoš Vorlíček {date('Y')}&nbsp;</footer>
				{/ifCurrent}
			{/ifCurrent}
		{/ifCurrent}
	</body>
</html>
