{block title}Nápověda{/block}

{block content}
<h1>Nápověda</h1>

<div class="content">
<p>Pokud Vám není jasné, jak zde co funguje, pak jste se dostali na správné místo. Stejně jako celá aplikace je i tato stránka ve vývoji, tudíž je možné, že zde nenaleznete vše, co hledáte.</p>

<h3>Přidání fotek a tras</h3>
<p>Pro přidání fotek nebo tras klikněte na příslušnou záložku, která vás přesměruje na stránku. Jakmile se stránka načte, aktivuje se editační mod, ve kterém můžete přidat polohu fotky nebo trasu. Po přidání je možné posouvat body a editovat trasu včetně přidávání a odebírání bodů (klávesou DELETE). Pokud jste s polohou bodu či tvarem trasy spokojeni, stačí vyplnit informace případně nahrát fotku a data uložit. Přidávát trasy a fotky mohou pouze registrovaní uživatelé.</p>

<p>Přidané fotky a trasy zatím není možné upravovat</p>

<h3>Editace dat OpenStreetMap</h3>
<p>Pro editaci dat OpenStreetMap je potřeba mít účet na OpenStreetMap. Přihlášení uživatelé mohou poté pomocí toho účtu uložit změny, které provedly v editoru iD. Na editor lze přejít z mapového okna pomocí příslušné záložky či z menu. Přechod z mapového okna nastaví editoru na souřadnice středu mapového okna. Odkaz v menu nastaví souřadnice a zoom na defaultní hodnotu, kterou jsou souřadnice Fakulty stavební ČVUT v Praze.</p>

</div>
{/block}