{block title}Mapové okno{/block}
{block head}

<!-- OL2 files-->
<link href="{$basePath}/openLayers/theme/default/style.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{$basePath}/openLayers/OpenLayers.js"></script>
<script type="text/javascript" src="{$basePath}/js/olDefault.js"></script>


<!--OL3 files-->
{*<link href="{$basePath}/ol3/build/ol.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{$basePath}/ol3/build/ol.js"></script>*}

<!-- Rewrite send function to use proxy.cgi (for use with ol3)-->
{*<script type ="text/javascript">
	var send = XMLHttpRequest.prototype.realSend;
	XMLHttpRequest.prototype.realSend = function() {
	arguments[0] = '/proxy.cgi?url=' + arguments[0];
			send.call(this, arguments);
		};
</script>*}


{/block}

{block content}
<script type="text/javascript">
	$(document).ready(function() {
		 init({$params});
			 });
</script>

<!-- Facebook share button-->
{if (($user->isInRole('user') || $user->isInRole('admin')) && $visitingUser->fbuid != NULL)}
	<a href="#"
	   onclick="
			   window.open(
					   'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(location.href),
					   'facebook-share-dialog',
					   'width=626,height=436');
			   return false;">
		<img src="{$basePath}/images/fb_sdilet.png">
	</a>
{/if}
</div>
<span>
	{if $user->isInRole('user') || $user->isInRole('admin')}
		<a href="javascript:mapEdit()" class="btn btn-warning">Editovat výřez</a>
	{/if}
</span>
<div>
<!--OL2 setting -->
<div id="map"></div>

<!--OL3 setting-->
{*<div id="map">
	<span id="start-point">start</span>
	<span id="final-point">final</span>
	<span id="popup"></span>
	<script type="text/javascript" src="{$basePath}/js/ol3Setting.js"></script>
</div>*}



