{block title}Mapové okno{/block}
{block head}
<link href="{$basePath}/leafLet/leaflet.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{$basePath}/leafLet/Control.OSMGeocoder.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{$basePath}/leafLet/leaflet.ie.css" /><![endif]-->

{/block}

{block content}

<div id="map"></div>
<script type="text/javascript" src="{$basePath}/leafLet/leaflet-src.js"></script>
<script type="text/javascript" src="{$basePath}/leafLet/Control.OSMGeocoder.js"></script>
<script type="text/javascript" src="{$basePath}/js/leafletSetting.js"></script>