{block title}O Projektu{/block}

{block content}
<h1>O Projektu</h1>

<div class="content">
<p> Tento projekt je součástí diplomové práce <i>Prototyp turistického systému na daty OpenStreetMap</i> tvořené na katedře Geomatiky na Fakultě Stavební ČVUT v Praze. Hlavním cílem projektu je vytvoření mapové turistické aplikace nad daty OSM. Hlavní těžiště práce je v propojení aplikace se sociální síťí Facebook. Další částí práce je možnost vkládat do aplikace vlastní trasy s popisem a fotkami, upravovat či přidávat relevantní data.</p>

<p>Pro nepřihlášené uživatele budou k dispozici jednoduché funkce typu vyhledávání místa, trasy atd.</p>

<h3> Editace dat </h3>
<p>Protože tento projekt užívá data OSM, je dobré tyto mapy zlepšovat. K tomuto účelu byla vytvořena funkcionalita pro přihlášené uživatele. K úpravě slouží online editor iD. Editace se rovnou přenáší do OSM. Pro editaci lze užít vlastní OSM účet nebo se přihlásit přes účet aplikace.</p>

</div>
{/block}