{block title}Hlášení chyb{/block}

{block content}
<h2>Hlášení chyb</h2>
<p>Pokud jste narazili na jakoukoliv chybu, tak mi prosím napište a já se to pokusím opravit. Stejně tak mi můžete psát v případě návrhů na zlepšení.</p>
<p><b>Admin</b></p>

{control feedbackForm}


{/block}