{block title}Uživatelské nastavení{/block}

{block content}
<h2>Uživatelské nastavení</h2>
<div class="span6">
<h3>Osobní nastavení</h3>
{control settingManagerForm}
</div>

<div class="span5">
<h3>Změna hesla</h3>
{control changePasswordForm}
</div>
{/block}