{block title}Změna hesla{/block}

{block content}

<h2>Změna hesla</h2>
<p>V případě ztráty hesla, zadejte e-mail uvedený při registraci. V případě přihlášení přes Facebook se jedná o registrační e-mail na Facebooku. Na tuto adresu Vám bude zasláno nové heslo, které si pak můžete změnit v nastavení profilu.</p>

{control resetPasswdForm}

{/block}