{block title}O Projektu{/block}

{block content}
<h1>O Projektu</h1>

<div class="content">
	<p> Tento projekt je součástí diplomové práce <i>Prototyp turistického systému na daty OpenStreetMap</i> tvořené na <a href="http://geomatics.fsv.cvut.cz/">katedře Geomatiky</a> na <a href="http://fsv.cvut.cz">Fakultě Stavební ČVUT v Praze</a>. Hlavním cílem projektu je vytvoření mapové turistické aplikace nad daty <a href="http://openstreetmap.org">OpenStreetMap</a>.</p>
	<p>Tento projekt si klade za cíl propojit aplikaci se sociální sítí Facebook a umožnit editaci dat OpenStreetMap přímo ze stránek projektu. Dále je možno vkládat vlastní trasy, které mohou být inspirací na výlet pro ostatní uživatele. Aplikace též podporuje přidání lokalizovaných fotografií, které je možno zobrazit buď v mapě či v galerii.

<h3> Editace dat </h3>
<p>Protože tento projekt užívá data OSM, je dobré tyto mapy zlepšovat. K tomuto účelu byla vytvořena funkcionalita pro přihlášené uživatele. K úpravě slouží online editor iD. Editace se rovnou přenáší do OSM. Pro editaci lze použít pouze osobní účet OSM. Autorizace probíhá přes protokol oAuth.</p>

</div>
{/block}