{var $robots = noindex}
{block title}Přihlášení{/block}

{block #content}

<h1>Přihlášení</h1>

{control signInForm}
<a href="{$fbUrl}"><img  src="{$basePath}/images/fb_login.png"></a>


<br>
<b>Nemáte účet a nechcete se přihlásit přes Facebook?</b> Registrujte se <a n:href="User:registration"><b>zde</b></a>.<br>
<b>Zapomněli jste heslo?</b> Nechte si poslat <a n:href="User:passwdReset"><b>nové</b></a>.